.container{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.container h2{
    text-decoration: underline 3px solid #6528F7;
}
.subcontainer{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
}