.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.left{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.right{
    width: 100%;
    overflow: hidden;
}
.right img{
    width: 100%;
}
.left h1{
    display: flex;
    text-decoration: underline 5px #a076f9;
    margin-bottom: 40px;

}
.left p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.left span{
    color: #666;
    margin-bottom: 30px;
}
.left button{
    padding: 10px 20px;
    background-color: #6528F7;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 4px;

}


@media only screen and (min-width: 768px) {
    .main{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .left , .right{
        width: 50%;
    }
  }
  @media only screen and (min-width: 1278px) {
  
  }
  