.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.left{
    width: 100%;
    overflow: hidden;
}
.right{
    width: 100%;
    overflow: hidden;
}
.right img{
    width: 100%;
}















@media only screen and (min-width: 768px) {
    .main{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .left , .right{
        width: 50%;
    }
  }
  @media only screen and (min-width: 1278px) {
  
  }
  