.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.main div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (min-width: 768px) {
    .main{
        flex-direction: row;
        
    }
    .main div{
        width: 25%;
    }
  }
  @media only screen and (min-width: 1278px) {
    
  }
  