.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.main h2{
    margin-bottom: 25px;
    color: #6528F7;
}

.icondivcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.icondiv{
padding: 30px;
box-shadow: 0 0 10px -5px rgb(0, 0, 0,0.8);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 4px;
width: 45%;
margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .icondivcon{
    flex-direction: row;
    justify-content: space-between;

  }
  .icondiv{
    width: 15%;
  }
}
@media only screen and (min-width: 1278px) {
  
}
