.container{
    margin-bottom: 50px;
}
.container h3 {
  color: #6528f7;
  margin-bottom: 10px;
}

.container ul {
  list-style: none;
  margin-left: 20px;
}
.container ul li{
  margin-bottom: 3px;

}
.container ul li::before {
  content: "\2022";
  color: #6528f7; 
  font-weight: bolder; 
  display: inline-block;
  width: 1em; 
  margin-left: -1em; 
}
