.nextmain{
    width: 100vw;
    display: flex;
    align-items: center;
}
.maincontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
}
.left {
}
.right {
}
.container {
}
.footer {
}

@media only screen and (min-width: 768px) {
  .maincontainer {
    width: 80%;
  }
}
@media only screen and (min-width: 1278px) {
  .maincontainer {
    width: 65%;
  }
}
